.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 3rem;
}
.container > *{
  min-width: 25rem;
  max-width: 40rem;
}

img{
  border-radius: 3rem;
  flex: 1 0;
  object-fit: cover;
  height: 35rem;
  margin: 1rem;
}
.details{
  width: 100%;
  display: flex;
flex-direction:column;
flex: 1 0;
border: 3rem;
padding: 2rem;
color: black;
margin-left: 1rem;
}
.header{
  display: flex;
  justify-content: space-between;
}
.name{
  font-size: 2rem;
  font-weight: bold;
}
.favorite{
  color: red;
  font-size: 2.5rem;
}
.favorite.not{
  color: gray;
}

.tags{
  display: flex;
  flex-wrap: wrap;
}

.tags a{
  background-color: aliceblue;
  padding: 0.3rem 1rem;
  margin: 2rem 0.15rem;
  border-radius: 10rem;
  font-weight: 600;
  color: darkblue;
}

.author{
  font-size: 1.8rem;
  margin: 0.5rem 0.5rem 1rem 0;
  color: blueviolet;
}

.price{
  font-size: 1.5rem;
  margin: 0.5rem 0.5rem 0.5rem 0;
  color: aquamarine;
}

.price::before{
  content: "price: ";
  color: darkgray;
}
button{
  color:aliceblue;
  background: red;
  border: none;
  font-size: 1rem;
  padding: 0.8rem;
  border-radius: 10rem;
  outline: none;
}

button:hover{
  opacity: 0.5;
  cursor: pointer;
}
